@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <center>
   <button>


            <a class="nav-link text-dark" asp-area="" asp-controller="Salaries" asp-action="Create"  onclick="change()" >@TempData["name"]</a>

    </button>
    </center>
</div>

